.topo {
  margin-top: 20px;
}

.container__ong {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  position: relative;
}

.sub__container {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.ong__position {
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 5%;
}

.block__left {
  width: 100%;
  z-index: 3;
}

.block__left h1,
h5 {
  width: 100%;
  padding-left: 100px;
}

.block__right {
  width: 100%;
  height: 100vh;
}


.block__right img {
  width: 100%;
  height: 100%;
}