.text-decorator-none {
    text-decoration: none;
}

.box-card {
    max-width: 40vw;
    max-height: 50vh !important;
    transform: translateX(75%);
    margin-bottom: 15px;
  }

.button-del {
    background-color: white !important;
    border: 0.5px solid #E55C51 !important;
    color: #E55C51 !important;
    font-weight: bold !important;
    box-shadow: none !important;
}

.button-del:hover {
    font-weight: bold;
    background-color: #E55C51 !important;
    color: white !important;
    opacity: 1 !important;
}

.marginLeft1 {
    background-color: #E55C51 !important;
    box-shadow: none !important;
    color: #fff !important;
}

/* 
---------------------------------------------
Loader Style
--------------------------------------------- 
*/

.js-preloader2 {
    /* You must change postion:relative; for position:fixed;  */
    position: relative;
    top: 150px;
    left: 0;
    right: 0;
    bottom: 0;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    opacity: 1;
    visibility: visible;
    z-index: 9999;
    -webkit-transition: opacity 0.25s ease;
    transition: opacity 0.25s ease;
  }
  
  .js-preloader2.loaded {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }
  
  @keyframes dot8567 {
    50% {
      -webkit-transform: translateX(96px);
      transform: translateX(96px);
    }
  }
  
  @keyframes dots723423 {
    50% {
      -webkit-transform: translateX(-31px);
      transform: translateX(-31px);
    }
  }
  
  .preloader-inner2 {
    position: relative;
    width: 142px;
    height: 40px;
    background: transparent;
  }
  
  .preloader-inner2 .dot {
    position: absolute;
    width: 16px;
    height: 16px;
    top: 12px;
    left: 15px;
    background: #E55C51;
    border-radius: 50%;
    -webkit-transform: translateX(0);
    transform: translateX(0);
    -webkit-animation: dot8567 2.8s infinite;
    animation: dot8567 2.8s infinite;
  }
  
  .preloader-inner2 .dots2 {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    margin-top: 12px;
    margin-left: 31px;
    -webkit-animation: dots723423 2.8s infinite;
    animation: dots723423 2.8s infinite;
  }
  
  .preloader-inner2 .dots2 span {
    display: block;
    float: left;
    width: 16px;
    height: 16px;
    margin-left: 16px;
    background: #E55C51;
    border-radius: 50%;
  }
  