.text-decorator-none {
    text-decoration: none;
}

.box-card {
    max-width: 40vw;
    max-height: 50vh !important;
    transform: translateX(75%);
    margin-bottom: 15px;
  }

.button-del {
    background-color: white !important;
    border: 0.5px solid #E55C51 !important;
    color: #E55C51 !important;
    font-weight: bold !important;
    transform: translateX(250%);
    box-shadow: none !important;
}

.button-del:hover {
    font-weight: bold;
    background-color: #E55C51 !important;
    color: white !important;
}

.marginLeft1 {
    background-color: #E55C51 !important;
    box-shadow: none !important;
    transform: translateX(32em);
    color: #fff !important;
}