.textos1{
    font-weight: bold !important;
    color: #E55C51;
}

.imagem{
    background-image: url(https://i.imgur.com/UARUrry.png);
    background-repeat: no-repeat;
    width: 100vh;
    min-height: 90vh;
    background-size: cover;
    background-position: center;
}

.text-decorator-none{
    text-decoration: none;
}

.btn-logar {
    background-color: #E55C51 !important;
    color: white !important;
    font-weight: bold !important;
}

.btn-logar:hover {
    background-color: #E55C51;
}