.textos1{
    font-weight: bold !important;
    color: #E55C51;
}

.imagem{
    background-image: url(https://imgur.com/DdUpCQO.png);
    background-repeat: no-repeat;
    width: 100vh;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
}

.text-decorator-none{
    text-decoration: none;
}

.btn-logar {
    background-color: #e55b51db !important;
    color: white !important;
    font-weight: bold !important;
}

.btn-logar:hover {
    background-color: #E55C51 !important;
    opacity: 1;
}

.logo-login img{
    max-width: 250px;
    max-height: 2150px;
    transform: translate(30%, -950%);
}