.titulo {
  color: rgb(25, 0, 255);
  text-align: center;

}

.container {
  background-image: url('https://imgur.com/a2DjBzC.png');
  height: 88vh;
  background-size: cover;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.img {
  width: 500px;
  height: 500px;
  display: block;
  margin: 0 auto;

}