
.card {
    margin: 0 auto;
    margin-top: 0px !important;
    gap: 30px;
    width: 80%;
    padding: 5px;
    padding-left: 55px;
    position: relative;
    margin-bottom: 15px;
}

.card button {
    color: #E55C51 !important;
    transform: translateX(150%);
    font-weight: 500;
    border-bottom: 1px solid #E55C51;
}

.card button:hover {
    background-color: #E55C51 !important;
    color: #fff !important;
    transform: translateX(150%);
}

.space {
    margin-top: 10px;
}

.about {
    transform: translateY(8%);
}

.about-text {
    transform: translateY(10%);
    text-align: justify;
    margin-bottom: 50px;
    padding-left: 15px;
    color: rgb(255, 255, 255);
    font-weight: bold;
}

.about-bg {
    background-color: #E55C51;
    margin: 0 !important;
    height: 80%;
    width: 220em;
    transform: translateY(8%);
    border-radius: 0 10px 10px 0;
    padding-right: 20px;
}

.img-bg {
    position: absolute;
    transform: translate(44%,-30%);
    margin-left: 70px;
    width: 450px;
}

.img {
    height: 22em;
    margin-left: -100px;
    border-radius: 20px;
}

.card::before {
    background-image: url('https://images.unsplash.com/photo-1624928133086-0bb838a85f44?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80');
    opacity: 0.6;
    width: 100%;
    height: 100%;
    display: block;
    content: ' ';
    position: absolute;
    border-radius: 8px;
}

.faixa {
    text-align: center !important;
    width: 100%;
    display: block;
    font-size: 30px;
    font-family: 'Mukta', sans-serif;
}

.faixa-margin {
    margin-top: 50px;
    margin-bottom: -20px;
}

.about {
    padding: 40px;
    text-align: center;
    justify-content: center;
}

.avatar {
    margin-left: 150px;
    margin-bottom: 0;
}

.depo {
    position: relative;
    padding-top: 20px;
    width: 350px;
}

.depoimentos {
    margin-bottom: 20px;
}

.img-depo {
    height: 9em;
    margin-left: 120px;
    transform: translateY(-110%);
    opacity: 0.2;
}

.img-depo1 {
    height: 9em;
    margin-left: 110px;
    transform: translateY(-110%);
    opacity: 0.2;
}

.img-depo2 {
    height: 9em;
    margin-left: 110px;
    transform: translateY(-110%);
    opacity: 0.2;
}

.button {
    text-align: right;
    margin-right: 50px;
    transform: translateY(-200%);
}

.button1:hover {
    opacity: 1;
}

.star {
    color: #ffb703;
    position: relative;
    transform: translateX(-2%);
}

.button-sn {
    cursor: pointer;
    font-weight: 700;
    font-family: Helvetica,"sans-serif";
    transition: all .2s;
    padding: 10px 20px;
    border-radius: 100px;
    background: #E55C51;
    border: 1px solid transparent;
    display: flex;
    align-items: center;
    font-size: 15px;
    color: #fff;
    transform: translateX(720%);
  }
  
  button:hover {
    background: #E55C51;
    opacity: 0.6;
  }
  
  button > svg {
    width: 34px;
    margin-left: 10px;
    transition: transform .3s ease-in-out;
  }
  
  button:hover svg {
    transform: translateX(5px);
  }
  
  button:active {
    transform: scale(0.95);
  }
  
  .text-decorator-none1 {
    text-decoration: none !important;
  }
  
  @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600;700&display=swap');

  * {
    box-sizing: border-box;
  }
  
  .page-contain {
    display: flex;
    max-height: 80vh;
    align-items: center;
    justify-content: center;
    background: #e55b5153;
    border: .75em solid #fff;
    padding: 2em;
    font-family: 'Open Sans', sans-serif;
    gap: 50px;
  }
  
  .data-card {
    display: flex;
    flex-direction: column;
    max-width: 20.75em;
    min-height: 22.75em;
    overflow: hidden;
    border-radius: .5em;
    text-decoration: none;
    background: white;
    margin: 1em;
    padding: 2.75em 2.5em;
    box-shadow: 0 1.5em 2.5em -.5em rgba(#000000, .1);
    transition: transform .45s ease, background .45s ease;
  }

  h4 {
    color: #E55C51;
    text-transform: uppercase;
    font-size: 1.125em;
    font-weight: 700;
    line-height: 1;
    letter-spacing: 0.1em;
    margin: 0 0 1.777777778em;
    transition: color .45s ease;
    border-bottom: 2px solid #E55C51;
    padding-bottom: .5em;
  }

.p-depo {
    opacity: 0.5;
    color: #E55C51;
    font-weight: 600;
    line-height: 1.3;
    margin: 0 0 1.25em;
    transform: translateY(-1em);
    transition: opacity .45s ease, transform .5s ease;
  }

.link-text {
    display: block;
    color: #E55C51;
    font-size: 1.125em;
    font-weight: 600;
    line-height: 1.2;
    margin: auto 0 0;
    transition: color .45s ease;
  }

.link-text svg {
    margin-left: .5em;
    transition: transform .6s ease;
}

.link-text path {
    transition: fill .45s ease;
}

.data-card:hover {
    background: #E55C51;
    transform: scale(1.02)
}

.data-card:hover h4 {
    color: #FFFFFF;
    border-bottom: 2px solid #fff;
}
    
.data-card:hover .p-depo {
    color: #FFFFFF;
    opacity: 1;
    transform: none;
}

.data-card:hover link-text {
    color: #FFFFFF;
}

.data-card:hover .link-text svg {
    animation: point 1.25s infinite alternate;
}

.data-card:hover .link-text path {
    fill: #FFFFFF;
}

@keyframes point {
  0% {
   transform: translateX(0);
  }
  100% {
    transform: translateX(.125em);
  }
}