.card {
    margin: 0 auto;
    width: 80%;
    padding: 5px;
    padding-left: 5px;
    position: relative;
}

.alice-carousel__wrapper {
    height: 58vh !important;
}

.card button {
    color: #E55C51 !important;
    margin-left: auto;
    font-weight: 500;
    border-bottom: 1px solid #E55C51;
}

.card button:hover {
    background-color: #E55C51 !important;
    color: #fff !important;
}

.space {
    margin-top: 10px;
}

.about {
    transform: translateY(8%);
    margin-top: 0;
}

.about-text {
    text-align: justify;
    margin-bottom: 50px;
    margin-left: 0;
    color: #000;
    font-weight: bold;
}

.about-bg {
    background-color: #fff;
    margin: 0 !important;
    height: 80%;
    width: 220em;
    border-radius: 0 10px 10px 0;
    padding-right: 20px;
}

.img5 {
    margin: 0 auto;
    padding: 0;
}

.card::before {
    opacity: 0.6;
    width: 100%;
    height: 100%;
    display: block;
    content: ' ';
    position: absolute;
    border-radius: 8px;
}

.faixa {
    text-align: center !important;
    width: 100%;
    display: block;
    font-size: 30px;
    font-family: 'Mukta', sans-serif;
}

.faixa-margin {
    margin-top: 0px;
    margin-bottom: -20px;
}

.about {
    padding: 40px;
    text-align: center;
    justify-content: center;
}

.avatar {
    margin-left: 150px;
    margin-bottom: 0;
}

.depo {
    position: relative;
    padding-top: 20px;
    width: 350px;
}

.depoimentos {
    margin-bottom: 20px;
}

.button {
    text-align: right;
    margin-right: 50px;
    transform: translateY(-200%);
}

.button1:hover {
    opacity: 1;
}

  /* CSS CARD */
  
  @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600;700&display=swap');

  * {
    box-sizing: border-box;
  }
  
  .page-contain {
    display: flex;
    max-height: 80vh;
    align-items: center;
    justify-content: center;
    background: #e55b5153;
    border: .75em solid #fff;
    padding: 2em;
    font-family: 'Open Sans', sans-serif;
    gap: 50px;
  }
  
  .data-card {
    display: flex;
    flex-direction: column;
    max-width: 20.75em;
    min-height: 22.75em;
    overflow: hidden;
    border-radius: .5em;
    text-decoration: none;
    background: white;
    margin: 1em;
    padding: 2.75em 2.5em;
    box-shadow: 0 1.5em 2.5em -.5em rgba(#000000, .1);
    transition: transform .45s ease, background .45s ease;
  }

  h4 {
    color: #E55C51;
    text-transform: uppercase;
    font-size: 1.125em;
    font-weight: 700;
    line-height: 1;
    letter-spacing: 0.1em;
    margin: 0 0 1.777777778em;
    transition: color .45s ease;
    border-bottom: 2px solid #E55C51;
    padding-bottom: .5em;
  }

.p-depo {
    opacity: 0.5;
    color: #E55C51;
    font-weight: 600;
    line-height: 1.3;
    margin: 0 0 1.25em;
    transform: translateY(-1em);
    transition: opacity .45s ease, transform .5s ease;
  }

.link-text {
    display: block;
    color: #E55C51;
    font-size: 1.125em;
    font-weight: 600;
    line-height: 1.2;
    margin: auto 0 0;
    transition: color .45s ease;
  }

.link-text svg {
    margin-left: .5em;
    transition: transform .6s ease;
}

.link-text path {
    transition: fill .45s ease;
}

.data-card:hover {
    background: #E55C51;
    transform: scale(1.02)
}

.data-card:hover h4 {
    color: #FFFFFF;
    border-bottom: 2px solid #fff;
}
    
.data-card:hover .p-depo {
    color: #FFFFFF;
    opacity: 1;
    transform: none;
}

.data-card:hover link-text {
    color: #FFFFFF;
}

.data-card:hover .link-text svg {
    animation: point 1.25s infinite alternate;
}

.data-card:hover .link-text path {
    fill: #FFFFFF;
}

@keyframes point {
  0% {
   transform: translateX(0);
  }
  100% {
    transform: translateX(.125em);
  }
}