.text-decorator-none {
    text-decoration: none;
}

.box-servico {
    display: flex;
    max-width: 100vw;
    max-height: 100vh !important;
    margin-bottom: 15px;
}

.card-ong {
    min-width: 300px;
    max-width: 250px;
    min-height: 200px;
    max-height: 500px;
    justify-content: center;
    align-items: center;
}

.btn-att {
    background-color: #E55C51 !important;
}

.btn-doar {
    background-color: #E55C51 !important;
}

.btn-del {
    background-color: white !important;
    border: 0.5px solid #E55C51 !important;
    color: #E55C51 !important;
    font-weight: bold !important;
    box-shadow: none !important;
}

.btn-del:hover{
    font-weight: bold;
    background-color: #E55C51 !important;
    color: white !important;
}