.imagem2 {
    background-image: url(https://imgur.com/0hPrwpu.png);
    background-repeat: no-repet;
    width: 100vh;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
}

.textos2 {
    font-weight: bold !important;
}

.btnCancelar {
    margin-right: 20px !important;
}