.imagem2 {
    background-image: url('https://imgur.com/FaIf3Wl.png');
    background-repeat: no-repet;
    width: 100vh;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
}

.MuiSelect-select.MuiSelect-select {
    margin-bottom: 10px;
}

.MuiSelect-native-input {
    margin-bottom: 10px;
}

.textos2 {
    color: #E55C51 !important;
    font-weight: bold !important;
    margin-top: 60px !important;
}

.btnCancelar {
    margin-right: 20px !important;
}

.btn-ent {
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: #E55C51;
    font-weight: bold !important;
    font-size: 18px;
}

.btn-tipo {
    margin-top: 20px;
}

.btn-cadastrar {
    background-color: #E55C51 !important;
    color: #fff !important;
    font-weight: bold !important;
    margin-bottom: 10px !important;
}

.btn-cancelar {
    background-color: #fff !important;
    color: #E55C51 !important;
    border: 1px solid #E55C51 !important;
    font-weight: bold !important;
    margin-bottom: 10px !important;
    margin-right: 30px !important;
}

.logo-login2 img{
    max-width: 250px;
    max-height: 2150px;
    display: block;
    margin: 0 auto 5rem;
}
