.box-time {
  gap: 100px;
  margin-bottom: 5px;
  align-items: center;
  justify-content: center;
  
}
.box-time2 {
  gap: 100px;
  margin-bottom: 5px;
  align-items: center;
  justify-content: center;
  transform: translateY(-20px);
  z-index: 1;
  position:relative;
}
.cargo{
  font-size: 12px;
  margin-top: 0;

}

.card-time {
  width: 200px;
  height: 250px;
  background: white;
  border: 2px solid #E55C51;
  border-radius: 5px;
  text-align: center;
  color: black;
  font-family: inherit;
  z-index: 1;
  margin-right: 30px;
}

.img-time {
  /* background-image: url('https://i.imgur.com/FjFePm5.jpg'); */
  display: flex;
  margin: 30px auto 10px auto;
  width: 75px;
  height: 75px;
  border: 1px solid #f0f0f0;
  border-radius: 50%;
  font-size: 11px;
  justify-content: center;
  align-items: center;
  transition: all 0.5s;
  z-index: 99;
}

.img-time img {
  width: 75px;
  height: 75px;
  border-radius: 50%
}
.icon {
  color: black;
}

.social-icon {
  font-size: 50px !important;
}
.social-icon:hover{
  font-size: 70px !important;
  color: #E55C51 !important;
}

.texto-card {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.texto-card a {
  text-decoration: none;
  color: #151313;
  font-size: 20px;
}

.heading {
  padding: 10px;
  font-weight: 500;
  font-size: 18px;
  padding-bottom: 0;
}

svg {
  padding: 0 5px;
  cursor: pointer;
}

.card:hover .img {
  transform: scale(1.1);
  border: 1px solid black;
}

.card:hover h1,
.card:hover p {
  opacity: 1;
}